version: "3"

services:
  latex:
    image: texlive/texlive
    working_dir: /workdir
    volumes:
      - .:/workdir
    command: >
      sh -c "
        mkdir -p /workdir/compiled &&
        pdflatex -output-directory=/workdir/compiled /workdir/randomized_algorithm/1_discrete_probability_note.tex &&
        pdflatex -output-directory=/workdir/compiled /workdir/randomized_algorithm/2_selected_problems_in_discrete_probability.tex &&
        pdflatex -output-directory=/workdir/compiled /workdir/randomized_algorithm/3_some_randomized_algorithms.tex &&
        pdflatex -output-directory=/workdir/compiled /workdir/network_security/public_key_cryptography.tex
      "
